@import "tailwindcss";


body {
    margin: 0px;
}

h1 {
    text-align: center;

}

.navbar ul {
    list-style-type: none;
    background-color: rgb(255, 169, 238);
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;

  
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}

.navbar a:hover {
    background-color: rgb(145, 232, 240);

}

.navbar li {
    float: left;
}

.logo.png {
    display: block;
    margin: 0 auto;
    width: 300px;
}
